# Name: OrientationJ

# Daniel Sage
# Biomedical Imaging Group
# Ecole Polytechnique Federale de Lausanne (EPFL), Lausanne, Switzerland

# Date: 12 May 2020

Plugins>OrientationJ, "OrientationJ Analysis", OrientationJ_Analysis
Plugins>OrientationJ, "OrientationJ Distribution", OrientationJ_Distribution
Plugins>OrientationJ, "OrientationJ Directions", OrientationJ_Directions
Plugins>OrientationJ, "OrientationJ Measure", OrientationJ_Measure
Plugins>OrientationJ, "OrientationJ Corner Harris", OrientationJ_Corner_Harris
Plugins>OrientationJ, "OrientationJ Dominant Direction", OrientationJ_Dominant_Direction
Plugins>OrientationJ, "OrientationJ Vector Field", OrientationJ_Vector_Field
Plugins>OrientationJ, "OrientationJ Test Image", OrientationJ_Test_Image
